<ActionBar title="Months" class="action-bar">
</ActionBar>

<StackLayout class="page">
        <!-- <Image width="100%" height="50%" src="https://user-images.githubusercontent.com/544280/42960643-66d498ac-8b5a-11e8-8946-7224eefea6a5.jpg"></Image> -->

    <ListView [items]="months" class="list-group" height="100%">
        <ng-template let-month="item">
            <Label [text]="month.name" [nsRouterLink]="['/months', month.id]"  
                class="list-group-item" style="margin-bottom: 5%; margin-top:5%; text-align: center;" ></Label>
        </ng-template>
    </ListView>

</StackLayout>



        <!-- inside the label [nsRouterLink]="['/month', month.id]"  -->