.div1{
    background-image: url("~/menu/imgs/android1.png");
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.div2{
    background-image: url("~/menu/imgs/android3.png");
    background-size: 100% 100%;
}       
.div3{  
    background-image: url("~/menu/imgs/android2.png");
    background-size: 100% 100%;
}
.header{
    color: white;
    font-family: "Impact";
    font-size:40;
    padding-left: 15;
}
.page{
    text-align: center;
    color: black;
}