<!-- switch to either login, or to proceed as a guest -->

<FlexboxLayout flexDirection="column" className="page">

    <FlexboxLayout className="logo" height="30%">

    </FlexboxLayout>

    <FlexboxLayout flexDirection="column" className="fields" class="form">
    
        <StackLayout height="10%" class="input-field">
            <TextField hint="Email" class="input" keyboardType="email" autocapitalizationType="none" autocorrect="false" [(ngModel)]="input.email"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <StackLayout height="15%" style="padding-bottom: 5%" class="input-field" >
            <TextField hint="Password" class="input" type="password" style="padding-top:20%;" autocorrect="false" secure="true" [(ngModel)]="input.password"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
       
        <Button text="Log In" class="btn btn-primary" (tap)="login()" style="background-color: red; margin-top:10%;"></Button>
      
        <FlexboxLayout className="button-div" flexDirection="row">
            <Button width="45%" text="Register" class="btn btn-primary" [nsRouterLink]="['/register']" style="background-color: black; margin-top:5%;"></Button>
            <Button width="45%" text="Guest" class="btn btn-primary" [nsRouterLink]="['/menu']" style="background-color: black; margin-top:5%;"></Button>
        </FlexboxLayout>

    <!-- closing the form -->
    </FlexboxLayout>
    

    <FlexboxLayout className="footer" height="10%">
        <Label className="copy" text="©Android Team @ UGA"></Label>
    </FlexboxLayout>


</FlexboxLayout>